In [ ]:
import pandas as pd

df = pd.read_csv('./data/temperature_data.csv')

df.timestamp = pd.to_datetime(df.timestamp)
df['year'] = df.timestamp.dt.year

df.groupby(['city', 'season'])['temperature'].agg(['mean', 'std']).xs('Beijing', level=0)


for (city, date, season), g in (

    df.groupby([
        'city',
        pd.Grouper(key='timestamp', freq='YE'),
        'season'
    ], sort=False)
):
    fig.add_trace(
        go.Scatter(
            x=g['timestamp'],
            y=g['temperature'],
            mode='lines',
            line=dict(color=season_colors[season]),
            showlegend=False
        )
    )

         city  timestamp  temperature  season  year
0    New York 2010-01-01    -1.789899  winter  2010
1    New York 2010-01-02     6.455782  winter  2010
2    New York 2010-01-03    -4.895588  winter  2010
3    New York 2010-01-04   -11.391631  winter  2010
4    New York 2010-01-05    -2.692336  winter  2010
..        ...        ...          ...     ...   ...
360  New York 2010-12-27     2.195262  winter  2010
361  New York 2010-12-28     7.440650  winter  2010
362  New York 2010-12-29     0.909203  winter  2010
363  New York 2010-12-30    -3.551921  winter  2010
364  New York 2010-12-31    -0.749091  winter  2010

[90 rows x 5 columns]
         city  timestamp  temperature  season  year
59   New York 2010-03-01    10.455867  spring  2010
60   New York 2010-03-02    11.256872  spring  2010
61   New York 2010-03-03    15.383292  spring  2010
62   New York 2010-03-04     2.858844  spring  2010
63   New York 2010-03-05    13.011551  spring  2010
..        ...        ...          ...     ...   ...
146  New York 2010-05-27    10.847923  spring  2010
147  New York 2010-05-28    14.355998  spring  2010
148  New York 2010-05-29     9.924209  spring  2010
149  New York 2010-05-30    14.393189  spring  2010
150  New York 2010-05-31    14.142878  spring  2010

[92 rows x 5 columns]
         city  timestamp  temperature  season  year
151  New York 2010-06-01    28.766288  summer  2010
152  New York 2010-06-02    23.198937  summer  2010
153  New York 2010-06-03    23.197107  summer  2010
154  New York 2010-06-04    22.261550  summer  2010
155  New York 2010-06-05    20.483583  summer  2010
..        ...        ...          ...     ...   ...
238  New York 2010-08-27    21.722415  summer  2010
239  New York 2010-08-28    25.770424  summer  2010
240  New York 2010-08-29    27.104317  summer  2010
241  New York 2010-08-30    28.080029  summer  2010
242  New York 2010-08-31    27.695547  summer  2010

[92 rows x 5 columns]
         city  timestamp  temperature  season  year
243  New York 2010-09-01    15.552534  autumn  2010
244  New York 2010-09-02     7.226228  autumn  2010
245  New York 2010-09-03    17.282021  autumn  2010
246  New York 2010-09-04    10.738472  autumn  2010
247  New York 2010-09-05    20.091917  autumn  2010
..        ...        ...          ...     ...   ...
329  New York 2010-11-26    12.149957  autumn  2010
330  New York 2010-11-27    20.985919  autumn  2010
331  New York 2010-11-28    14.032975  autumn  2010
332  New York 2010-11-29     1.935107  autumn  2010
333  New York 2010-11-30    18.498927  autumn  2010

[91 rows x 5 columns]
         city  timestamp  temperature  season  year
365  New York 2011-01-01    -4.768837  winter  2011
366  New York 2011-01-02     6.472469  winter  2011
367  New York 2011-01-03     1.732616  winter  2011
368  New York 2011-01-04     3.877804  winter  2011
369  New York 2011-01-05    -8.743416  winter  2011
..        ...        ...          ...     ...   ...
725  New York 2011-12-27     3.273852  winter  2011
726  New York 2011-12-28     2.156782  winter  2011
727  New York 2011-12-29     6.841238  winter  2011
728  New York 2011-12-30     8.328303  winter  2011
729  New York 2011-12-31    -2.634659  winter  2011

[90 rows x 5 columns]
         city  timestamp  temperature  season  year
424  New York 2011-03-01    18.590796  spring  2011
425  New York 2011-03-02    15.045662  spring  2011
426  New York 2011-03-03     2.463907  spring  2011
427  New York 2011-03-04    14.265422  spring  2011
428  New York 2011-03-05    10.721154  spring  2011
..        ...        ...          ...     ...   ...
511  New York 2011-05-27    15.776884  spring  2011
512  New York 2011-05-28     7.735212  spring  2011
513  New York 2011-05-29    15.087697  spring  2011
514  New York 2011-05-30     7.118664  spring  2011
515  New York 2011-05-31    15.459930  spring  2011

[92 rows x 5 columns]
         city  timestamp  temperature  season  year
516  New York 2011-06-01    23.659880  summer  2011
517  New York 2011-06-02    24.718736  summer  2011
518  New York 2011-06-03    26.206083  summer  2011
519  New York 2011-06-04    28.037457  summer  2011
520  New York 2011-06-05    29.551586  summer  2011
..        ...        ...          ...     ...   ...
603  New York 2011-08-27    36.384593  summer  2011
604  New York 2011-08-28    20.382046  summer  2011
605  New York 2011-08-29    28.912158  summer  2011
606  New York 2011-08-30    22.860752  summer  2011
607  New York 2011-08-31    24.734498  summer  2011

[92 rows x 5 columns]
         city  timestamp  temperature  season  year
608  New York 2011-09-01    13.619525  autumn  2011
609  New York 2011-09-02    15.961014  autumn  2011
610  New York 2011-09-03    26.168878  autumn  2011
611  New York 2011-09-04    10.573779  autumn  2011
612  New York 2011-09-05    19.786526  autumn  2011
..        ...        ...          ...     ...   ...
694  New York 2011-11-26    12.643746  autumn  2011
695  New York 2011-11-27    14.204688  autumn  2011
696  New York 2011-11-28    16.025893  autumn  2011
697  New York 2011-11-29     4.190748  autumn  2011
698  New York 2011-11-30    15.684769  autumn  2011

[91 rows x 5 columns]
          city  timestamp  temperature  season  year
730   New York 2012-01-01     0.637344  winter  2012
731   New York 2012-01-02    -3.326889  winter  2012
732   New York 2012-01-03   -10.272211  winter  2012
733   New York 2012-01-04    -9.835792  winter  2012
734   New York 2012-01-05     5.078409  winter  2012
...        ...        ...          ...     ...   ...
1091  New York 2012-12-27     7.596450  winter  2012
1092  New York 2012-12-28    -9.612720  winter  2012
1093  New York 2012-12-29    -4.145536  winter  2012
1094  New York 2012-12-30    -1.337791  winter  2012
1095  New York 2012-12-31    -2.267778  winter  2012

[91 rows x 5 columns]
         city  timestamp  temperature  season  year
790  New York 2012-03-01     8.222722  spring  2012
791  New York 2012-03-02    10.715008  spring  2012
792  New York 2012-03-03    13.238292  spring  2012
793  New York 2012-03-04     7.618983  spring  2012
794  New York 2012-03-05    13.286862  spring  2012
..        ...        ...          ...     ...   ...
877  New York 2012-05-27     1.140108  spring  2012
878  New York 2012-05-28     8.651580  spring  2012
879  New York 2012-05-29     1.468561  spring  2012
880  New York 2012-05-30     9.798337  spring  2012
881  New York 2012-05-31    17.572088  spring  2012

[92 rows x 5 columns]
         city  timestamp  temperature  season  year
882  New York 2012-06-01    18.030664  summer  2012
883  New York 2012-06-02    28.375598  summer  2012
884  New York 2012-06-03    17.239937  summer  2012
885  New York 2012-06-04    14.456535  summer  2012
886  New York 2012-06-05    28.378011  summer  2012
..        ...        ...          ...     ...   ...
969  New York 2012-08-27    20.921798  summer  2012
970  New York 2012-08-28    24.702153  summer  2012
971  New York 2012-08-29    23.896520  summer  2012
972  New York 2012-08-30    29.252884  summer  2012
973  New York 2012-08-31    24.019868  summer  2012

[92 rows x 5 columns]
          city  timestamp  temperature  season  year
974   New York 2012-09-01    16.240114  autumn  2012
975   New York 2012-09-02    15.343099  autumn  2012
976   New York 2012-09-03    12.757424  autumn  2012
977   New York 2012-09-04    15.856649  autumn  2012
978   New York 2012-09-05    18.331854  autumn  2012
...        ...        ...          ...     ...   ...
1060  New York 2012-11-26    12.282357  autumn  2012
1061  New York 2012-11-27    13.639201  autumn  2012
1062  New York 2012-11-28    12.297077  autumn  2012
1063  New York 2012-11-29    24.541182  autumn  2012
1064  New York 2012-11-30     7.840697  autumn  2012

[91 rows x 5 columns]
          city  timestamp  temperature  season  year
1096  New York 2013-01-01    -2.432167  winter  2013
1097  New York 2013-01-02    -0.985980  winter  2013
1098  New York 2013-01-03    -0.360761  winter  2013
1099  New York 2013-01-04    -0.715950  winter  2013
1100  New York 2013-01-05     2.353585  winter  2013
...        ...        ...          ...     ...   ...
1456  New York 2013-12-27     1.626894  winter  2013
1457  New York 2013-12-28    -4.967649  winter  2013
1458  New York 2013-12-29    -1.956563  winter  2013
1459  New York 2013-12-30    -2.898473  winter  2013
1460  New York 2013-12-31     5.579545  winter  2013

[90 rows x 5 columns]
          city  timestamp  temperature  season  year
1155  New York 2013-03-01     3.180947  spring  2013
1156  New York 2013-03-02    12.049588  spring  2013
1157  New York 2013-03-03     6.588985  spring  2013
1158  New York 2013-03-04     7.446555  spring  2013
1159  New York 2013-03-05    11.659030  spring  2013
...        ...        ...          ...     ...   ...
1242  New York 2013-05-27    12.476960  spring  2013
1243  New York 2013-05-28     9.740202  spring  2013
1244  New York 2013-05-29     1.232926  spring  2013
1245  New York 2013-05-30    13.597880  spring  2013
1246  New York 2013-05-31    10.696280  spring  2013

[92 rows x 5 columns]
          city  timestamp  temperature  season  year
1247  New York 2013-06-01    37.620032  summer  2013
1248  New York 2013-06-02    21.531232  summer  2013
1249  New York 2013-06-03    28.836262  summer  2013
1250  New York 2013-06-04    26.983684  summer  2013
1251  New York 2013-06-05    16.922603  summer  2013
...        ...        ...          ...     ...   ...
1334  New York 2013-08-27    14.845777  summer  2013
1335  New York 2013-08-28    19.660436  summer  2013
1336  New York 2013-08-29    22.252857  summer  2013
1337  New York 2013-08-30    27.889009  summer  2013
1338  New York 2013-08-31    30.322169  summer  2013

[92 rows x 5 columns]
          city  timestamp  temperature  season  year
1339  New York 2013-09-01    17.923051  autumn  2013
1340  New York 2013-09-02    11.606683  autumn  2013
1341  New York 2013-09-03    16.479196  autumn  2013
1342  New York 2013-09-04     7.566365  autumn  2013
1343  New York 2013-09-05     6.172339  autumn  2013
...        ...        ...          ...     ...   ...
1425  New York 2013-11-26    17.523461  autumn  2013
1426  New York 2013-11-27    11.267489  autumn  2013
1427  New York 2013-11-28    15.050493  autumn  2013
1428  New York 2013-11-29    12.267131  autumn  2013
1429  New York 2013-11-30     9.968730  autumn  2013

[91 rows x 5 columns]
          city  timestamp  temperature  season  year
1461  New York 2014-01-01    -3.393244  winter  2014
1462  New York 2014-01-02    -5.171058  winter  2014
1463  New York 2014-01-03    -1.741570  winter  2014
1464  New York 2014-01-04     3.121069  winter  2014
1465  New York 2014-01-05    -1.042814  winter  2014
...        ...        ...          ...     ...   ...
1821  New York 2014-12-27    -2.658293  winter  2014
1822  New York 2014-12-28    -2.579865  winter  2014
1823  New York 2014-12-29    -1.395725  winter  2014
1824  New York 2014-12-30     3.391130  winter  2014
1825  New York 2014-12-31    -9.225382  winter  2014

[90 rows x 5 columns]
          city  timestamp  temperature  season  year
1520  New York 2014-03-01    10.054657  spring  2014
1521  New York 2014-03-02     7.949631  spring  2014
1522  New York 2014-03-03     4.271856  spring  2014
1523  New York 2014-03-04     9.010883  spring  2014
1524  New York 2014-03-05    19.432867  spring  2014
...        ...        ...          ...     ...   ...
1607  New York 2014-05-27     6.022189  spring  2014
1608  New York 2014-05-28    12.803209  spring  2014
1609  New York 2014-05-29     8.746391  spring  2014
1610  New York 2014-05-30     7.996346  spring  2014
1611  New York 2014-05-31    17.878360  spring  2014

[92 rows x 5 columns]
          city  timestamp  temperature  season  year
1612  New York 2014-06-01    24.520898  summer  2014
1613  New York 2014-06-02    26.200818  summer  2014
1614  New York 2014-06-03    22.027455  summer  2014
1615  New York 2014-06-04    17.308957  summer  2014
1616  New York 2014-06-05    16.831157  summer  2014
...        ...        ...          ...     ...   ...
1699  New York 2014-08-27    16.510426  summer  2014
1700  New York 2014-08-28    19.616754  summer  2014
1701  New York 2014-08-29    28.583705  summer  2014
1702  New York 2014-08-30    23.016974  summer  2014
1703  New York 2014-08-31    18.184231  summer  2014

[92 rows x 5 columns]
          city  timestamp  temperature  season  year
1704  New York 2014-09-01    15.106091  autumn  2014
1705  New York 2014-09-02    11.452818  autumn  2014
1706  New York 2014-09-03    12.290122  autumn  2014
1707  New York 2014-09-04    11.380616  autumn  2014
1708  New York 2014-09-05    18.281280  autumn  2014
...        ...        ...          ...     ...   ...
1790  New York 2014-11-26    15.994756  autumn  2014
1791  New York 2014-11-27    16.320237  autumn  2014
1792  New York 2014-11-28    13.304473  autumn  2014
1793  New York 2014-11-29    13.451056  autumn  2014
1794  New York 2014-11-30    18.541073  autumn  2014

[91 rows x 5 columns]
          city  timestamp  temperature  season  year
1826  New York 2015-01-01    -4.408851  winter  2015
1827  New York 2015-01-02    -3.272428  winter  2015
1828  New York 2015-01-03    -8.994492  winter  2015
1829  New York 2015-01-04     0.618511  winter  2015
1830  New York 2015-01-05     3.234553  winter  2015
...        ...        ...          ...     ...   ...
2186  New York 2015-12-27    -0.899898  winter  2015
2187  New York 2015-12-28     4.769578  winter  2015
2188  New York 2015-12-29    -2.542169  winter  2015
2189  New York 2015-12-30     4.814817  winter  2015
2190  New York 2015-12-31    -1.511672  winter  2015

[90 rows x 5 columns]
          city  timestamp  temperature  season  year
1885  New York 2015-03-01     7.125029  spring  2015
1886  New York 2015-03-02     2.460310  spring  2015
1887  New York 2015-03-03    15.936605  spring  2015
1888  New York 2015-03-04     7.642733  spring  2015
1889  New York 2015-03-05     9.018784  spring  2015
...        ...        ...          ...     ...   ...
1972  New York 2015-05-27    11.201753  spring  2015
1973  New York 2015-05-28    17.553449  spring  2015
1974  New York 2015-05-29     4.087207  spring  2015
1975  New York 2015-05-30     6.321694  spring  2015
1976  New York 2015-05-31    10.549407  spring  2015

[92 rows x 5 columns]
          city  timestamp  temperature  season  year
1977  New York 2015-06-01    27.409961  summer  2015
1978  New York 2015-06-02    19.935715  summer  2015
1979  New York 2015-06-03    25.382031  summer  2015
1980  New York 2015-06-04    20.038659  summer  2015
1981  New York 2015-06-05    19.542444  summer  2015
...        ...        ...          ...     ...   ...
2064  New York 2015-08-27    14.781723  summer  2015
2065  New York 2015-08-28    18.276206  summer  2015
2066  New York 2015-08-29    24.578528  summer  2015
2067  New York 2015-08-30    25.891978  summer  2015
2068  New York 2015-08-31    19.905795  summer  2015

[92 rows x 5 columns]
          city  timestamp  temperature  season  year
2069  New York 2015-09-01    18.441969  autumn  2015
2070  New York 2015-09-02     6.197462  autumn  2015
2071  New York 2015-09-03     8.085453  autumn  2015
2072  New York 2015-09-04    13.823743  autumn  2015
2073  New York 2015-09-05    23.225023  autumn  2015
...        ...        ...          ...     ...   ...
2155  New York 2015-11-26    24.899654  autumn  2015
2156  New York 2015-11-27    18.308183  autumn  2015
2157  New York 2015-11-28    17.627211  autumn  2015
2158  New York 2015-11-29     5.459499  autumn  2015
2159  New York 2015-11-30    15.194630  autumn  2015

[91 rows x 5 columns]
          city  timestamp  temperature  season  year
2191  New York 2016-01-01     0.162807  winter  2016
2192  New York 2016-01-02     2.549205  winter  2016
2193  New York 2016-01-03     8.203744  winter  2016
2194  New York 2016-01-04    -6.574510  winter  2016
2195  New York 2016-01-05    12.858257  winter  2016
...        ...        ...          ...     ...   ...
2552  New York 2016-12-27    -4.910228  winter  2016
2553  New York 2016-12-28     4.543666  winter  2016
2554  New York 2016-12-29     2.899415  winter  2016
2555  New York 2016-12-30    10.553681  winter  2016
2556  New York 2016-12-31    -1.298950  winter  2016

[91 rows x 5 columns]
          city  timestamp  temperature  season  year
2251  New York 2016-03-01     0.641112  spring  2016
2252  New York 2016-03-02     8.611668  spring  2016
2253  New York 2016-03-03    10.810808  spring  2016
2254  New York 2016-03-04    10.477954  spring  2016
2255  New York 2016-03-05    13.349974  spring  2016
...        ...        ...          ...     ...   ...
2338  New York 2016-05-27     0.887484  spring  2016
2339  New York 2016-05-28    10.725084  spring  2016
2340  New York 2016-05-29     8.183739  spring  2016
2341  New York 2016-05-30     7.905468  spring  2016
2342  New York 2016-05-31    10.741054  spring  2016

[92 rows x 5 columns]
          city  timestamp  temperature  season  year
2343  New York 2016-06-01    20.968324  summer  2016
2344  New York 2016-06-02    23.804948  summer  2016
2345  New York 2016-06-03    25.017283  summer  2016
2346  New York 2016-06-04    22.771878  summer  2016
2347  New York 2016-06-05    17.953977  summer  2016
...        ...        ...          ...     ...   ...
2430  New York 2016-08-27    19.950380  summer  2016
2431  New York 2016-08-28    29.774543  summer  2016
2432  New York 2016-08-29    31.087565  summer  2016
2433  New York 2016-08-30    22.138661  summer  2016
2434  New York 2016-08-31    26.457656  summer  2016

[92 rows x 5 columns]
          city  timestamp  temperature  season  year
2435  New York 2016-09-01     7.949581  autumn  2016
2436  New York 2016-09-02     8.756285  autumn  2016
2437  New York 2016-09-03     4.950699  autumn  2016
2438  New York 2016-09-04    10.633752  autumn  2016
2439  New York 2016-09-05    14.422583  autumn  2016
...        ...        ...          ...     ...   ...
2521  New York 2016-11-26     7.378434  autumn  2016
2522  New York 2016-11-27    24.071714  autumn  2016
2523  New York 2016-11-28    16.673269  autumn  2016
2524  New York 2016-11-29    18.351338  autumn  2016
2525  New York 2016-11-30    20.872255  autumn  2016

[91 rows x 5 columns]
          city  timestamp  temperature  season  year
2557  New York 2017-01-01    -4.535081  winter  2017
2558  New York 2017-01-02    -3.985821  winter  2017
2559  New York 2017-01-03    11.602171  winter  2017
2560  New York 2017-01-04     1.467660  winter  2017
2561  New York 2017-01-05    -2.079569  winter  2017
...        ...        ...          ...     ...   ...
2917  New York 2017-12-27    -2.236173  winter  2017
2918  New York 2017-12-28     0.507959  winter  2017
2919  New York 2017-12-29     2.094858  winter  2017
2920  New York 2017-12-30    -0.125716  winter  2017
2921  New York 2017-12-31    -5.491260  winter  2017

[90 rows x 5 columns]
          city  timestamp  temperature  season  year
2616  New York 2017-03-01    12.134032  spring  2017
2617  New York 2017-03-02    13.175290  spring  2017
2618  New York 2017-03-03     2.057157  spring  2017
2619  New York 2017-03-04    10.871704  spring  2017
2620  New York 2017-03-05     8.224838  spring  2017
...        ...        ...          ...     ...   ...
2703  New York 2017-05-27     6.311753  spring  2017
2704  New York 2017-05-28    10.950350  spring  2017
2705  New York 2017-05-29    16.945407  spring  2017
2706  New York 2017-05-30     5.677780  spring  2017
2707  New York 2017-05-31     1.536112  spring  2017

[92 rows x 5 columns]
          city  timestamp  temperature  season  year
2708  New York 2017-06-01    27.636235  summer  2017
2709  New York 2017-06-02    26.383625  summer  2017
2710  New York 2017-06-03    22.358860  summer  2017
2711  New York 2017-06-04    29.802771  summer  2017
2712  New York 2017-06-05    28.819892  summer  2017